<div class="row">
    <div class="container ">
        <img src="assets/logo-blanco.png" class="menuImage  center-align">
        </img>
    </div>
     <a ng-click="menuClick(0,'home')" class="waves-effect waves-teal btn-flat white-text myMenuButton" ng-class="$root.selecciones[0]"><i class="material-icons center-text">person_outline</i></a>
     <a ui-sref="inbox" class="waves-effect waves-teal btn-flat white-text myMenuButton" ng-class="$root.selecciones[1]"><i class="material-icons left">mail_outline</i></a>
     <a ng-click="menuClick(2,'newo')" class="waves-effect waves-teal btn-flat white-text myMenuButton" ng-class="$root.selecciones[2]"><i class="material-icons">people_outline</i></a>
     <a ng-click="menuClick(1,'inbox')" class="waves-effect waves-teal btn-flat white-text myMenuButton" ng-class="$root.selecciones[3]"><i class="material-icons">redeem</i></a>
     <a ng-click="menuClick(4,'reservas')" class="waves-effect waves-teal btn-flat white-text myMenuButton" ng-class="$root.selecciones[4]"><i class="material-icons">event</i></a>
     <a ng-click="logOut()" class="waves-effect waves-teal btn-flat white-text myMenuButton"><i class="material-icons">power_settings_new</i></a>
</div>